<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hello! My name is Jaemin Ko.</h1>
		<p>I am a mathematics major, learning about web developing</p>
		<p>This was made by a tutorial, so I have much to learn!</p>
	</div>
</div>
